* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#stage {
    border: 1px solid #000;
    cursor: none;
    display: inline-block;
    vertical-align: top;
}

#log {
    display: inline-block;
    vertical-align: top;
    font-family: monospace;
    white-space: pre;
}